<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> {{ title }}</title>

    <script src="https://www.osgeo.cn/_f2elib/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://www.osgeo.cn/_f2elib/bootstrap_3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.osgeo.cn/_f2elib/jquery-validate_1.15.0/jquery.validate.min.js"></script>
    <script src="https://www.osgeo.cn/_f2elib/magnific-popup_1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://www.osgeo.cn/_f2elib/leaflet_1.3.1/leaflet.js"></script>
    <script src="https://www.osgeo.cn/_f2elib/leaflet/leaflet.ChineseTmsProviders.js"></script>
    <link rel="stylesheet" href="https://www.osgeo.cn/_f2elib/bootstrap_3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.osgeo.cn/_f2elib/leaflet_1.3.1/leaflet.css">


</head>
<body>


<div class="panel row col-md-9">
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <tr>
                <th></th>
                <th></th>
            </tr>
            {% for item in content %}
                <tr>
                    <td><img src="imgs/{{ item[0] }}" width="300px;"/></td>
                    <td>item[1]</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>
</html>
